* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

html {
  font-size: 100%;
}
.app {
  width: 45%;
  height: 47rem;
  padding: 1rem;
  background-image: url(./assests/warm.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.9s ease-in-out;
  left: 25%;
}

.app.cold {
  background-image: url(./assests/coldbg.jpg);
}
main {
  min-height: 100vh;

  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 0.75;
}

.search-box input {
  width: 100%;
  display: block;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(8, 8, 8, 0.23);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.search-box ::placeholder {
  color: rgba(18, 17, 17, 0.5);
}

.search-box :focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
.location {
  margin: 4.5rem;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.weather-box {
  text-align: center;
}
.temp {
  position: relative;
  display: inline-block;
  color: #fff;

  margin: 30px auto;
  background-color: rgba(8, 8, 8, 0.553);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.weather {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
